html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    position: relative;
}

#header {
    padding: 10px;
}

#page {
    margin: 0 auto;
    padding-bottom: 60px; /*等于footer的高度*/
}

#footer {
    /*position: absolute;*/
    bottom: 0;
    padding: auto;
    /*width: 100%;*/
    height: 60px; /*脚部的高度*/
    clear: both;
}

/*=======主体内容部分=======*/
#left {
    width: 220px;
    float: left;
    margin-right: 20px;
}

#content {
    float: left;
    width: 480px;
    margin-right: 20px;
}

#right {
    float: right;
    width: 220px;
}